PORT=5000
MONGODB_URI=mongodb+srv://admin:admin123@cluster0.iccy7se.mongodb.net/?appName=Cluster0
JWT_SECRET=5mX$9rKr2Lp!Qv8@Nz7YfT1&Wa4Hs6BcP0eR^uM3Jx7Di*Kg8Yn2CfLz9AhV!sXp
CLOUDINARY_CLOUD_NAME=dcelor4w
CLOUDINARY_API_KEY=777945614424628
CLOUDINARY_API_SECRET=bQgVaNNbda8BVvkqakU2j786s1k
GOOGLE_CLIENT_ID=787302293390-0f9t9f35bnam0j8nm2g60ao7o88u000l.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
FRONTEND_URL=http://localhost:5173
